

  <form [formGroup]="form" class="row">
    <div class="col-12 mb-2">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Client Name</mat-label>
        <input matInput formControlName="name" type="text" placeholder="Full Name" required>
        <mat-error>{{item}} </mat-error>
      </mat-form-field>
    </div>


    <div class="col-12 mb-2">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Client email</mat-label>
        <input matInput formControlName="email" type="email" placeholder="client@email.com" required>
        <mat-error> </mat-error>
      </mat-form-field>
    </div>
    <div class="col-6 mb-2">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Client Mobile</mat-label>
        <input matInput formControlName="phone" type="number" placeholder="912345678" required>
        <mat-error> </mat-error>
      </mat-form-field>
    </div>
    <div class="col-6 mb-2">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Bith date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error> </mat-error>
      </mat-form-field>
    </div>
  </form>

