
.form-container{
    padding: 10px;
}
.form-close-x {
  line-height: 1;
}
.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.form-field{
    width: 100%;
}
