


<mat-sidenav-container class='sidenav-container' fullscreen>
  
  <mat-sidenav #sidenav mode="over" [opened]="false" class="sidenav-menu">

    <ng-container [ngSwitch]="formSelected">
      <ng-container *ngSwitchCase="'service'">
        <app-service-form></app-service-form>
      </ng-container>
      <ng-container *ngSwitchCase="'client'">
        <app-client-form></app-client-form>
      </ng-container>
      <ng-container *ngSwitchCase="'appointment'">
        <app-appointment-form></app-appointment-form>
      </ng-container>
      <ng-container *ngSwitchDefault>Code Default</ng-container>
    </ng-container>
    <!--<app-client-form *ngIf="formTemplate === 'clientForm'"></app-client-form>
  <app-service-form *ngIf="formTemplate === 'serviceForm'"></app-service-form>-->


  </mat-sidenav>

  <mat-sidenav-content>
    <app-navbar></app-navbar>
    <div class="page-container">
      <router-outlet></router-outlet>
      <app-float-button ></app-float-button>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
