
.nav-caption {
  margin-left: 20px;
}




/*.fab-tip {
  position: fixed;
  right: 85px;
  padding: 0px 0.5rem;
  text-align: right;
  background-color: #323232;
  border-radius: 2px;
  color: #FFF;
  width: auto;
}

.menu-button {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
}





    

    .dialog_scrim {
      background: black;
      opacity: 0.4;
      position: fixed;
      top: 0;
      left: 0;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
    }


*/




