<div class="form-container">
  <div class="form-header">
    <h5>Add New Client</h5>
    <button mat-icon-button class="form-close-x">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="form" *ngIf="!busy" class="row">
    <div class="col-12 mb-2">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Professional Name</mat-label>
        <input matInput formControlName="name" type="text" placeholder="Full Name" required>
        <mat-error> {{ errorNameMessage }}</mat-error>
      </mat-form-field>
    </div>


    <div class="col-12 mb-2">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Professional Email</mat-label>
        <mat-select formControlName="professional">
          <mat-option>Clear</mat-option>
          <mat-option value="valid">Valid option</mat-option>
          <mat-option value="invalid">Invalid option</mat-option>
        </mat-select>
        <mat-error> {{ errorProfessionalMessage }}</mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
